body{
    background-image: url('../img/3968466.jpg');
    background-repeat: no-repeat  ;
     
  }
   .nav-link{
    
    font-family: 'Bebas Neue';
    padding-top: 13px;
    font-size: x-large;
  } 
  .navcím{
      font-family: 'Press Start 2P', cursive;
      font-size: x-large;
      color: #debd00;
      text-decoration: none;
  }
  .navbar{
      background-color: rgba(255, 0, 0, 0.345);
      border-radius: 25px;
  }
  .carouuselCont{
    display: block; width: 80%   ;padding-top: 8vh; margin-left: auto; margin-right: auto;
  }
  .elozetes{
    display: block; width: 80%;  height: 60vh;   ; margin-left: auto; margin-right: auto; border: #debd00 solid 5px;
  }
  @media only screen and (max-width: 600px) {
    .elozetes{
      height: 30vh;
    }
  }
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  
  
  
  /* ======================== */
  .navbar-toggler{
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
  }
  /* General styles for the lines */
  .navbar-toggler .line{
      display: block;
      width: 40px;
      height: 3px;
      background-color: #fff;
      margin-block: 10px; /*Adds separation to the bottom and the bottom*/
      border-radius: 4px;
      transition: transform .5s,
      opacity .25s;
  }
  /* Selecting the lines individually to add different effects when the active class is added to the hamburger menu.*/
  .navbar-toggler.active .line:nth-child(1){
      transform: translateY(13px)
      rotate(45deg); /*Moves down this line 13px and rotates it 45 degrees to create the X*/
  }
  .navbar-toggler.active .line:nth-child(2){
      opacity: 0; /*Hides this line.*/
  }
  .navbar-toggler.active .line:nth-child(3){
      transform: translateY(-13px)
      rotate(-45deg); /*Moves up this line 13px and rotates it -45 degrees to create the X*/
  }  
  
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(189, 172, 172);
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: rgb(189, 172, 172);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgb(17, 35, 56);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 46, 73); 
  }
  
  